### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from matplotlib import pyplot as plt

### Importing the Data

In [ ]:
bank_data = pd.read_csv('/content/bank-full.csv',sep=';')
bank_data

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[45211 rows x 17 columns]

In [ ]:
bank_data.shape

(45211, 17)

In [ ]:
bank_data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [ ]:
bank_data.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
bank_data[bank_data.duplicated()]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

In [1]:
bank_data = bank_data.dropna()

NameError: name 'bank_data' is not defined

In [ ]:
bank_data = pd.get_dummies(bank_data,columns=['job','marital','education','contact','month','poutcome'])

In [ ]:
bank_data

       age default  balance  ... poutcome_other poutcome_success  poutcome_unknown
0       58      no     2143  ...              0                0                 1
1       44      no       29  ...              0                0                 1
2       33      no        2  ...              0                0                 1
3       47      no     1506  ...              0                0                 1
4       33      no        1  ...              0                0                 1
...    ...     ...      ...  ...            ...              ...               ...
45206   51      no      825  ...              0                0                 1
45207   71      no     1729  ...              0                0                 1
45208   72      no     5715  ...              0                1                 0
45209   57      no      668  ...              0                0                 1
45210   37      no     2971  ...              1                0                 0

[45211 rows x 49 columns]

In [ ]:
bank_data['default'] = np.where(bank_data['default'].str.contains('yes'),1,0)
bank_data['housing'] = np.where(bank_data['housing'].str.contains('yes'),1,0)
bank_data['loan'] = np.where(bank_data['loan'].str.contains('yes'),1,0)
bank_data['y']= np.where(bank_data['y'].str.contains('yes'),1,0)
bank_data

       age  default  ...  poutcome_success  poutcome_unknown
0       58        0  ...                 0                 1
1       44        0  ...                 0                 1
2       33        0  ...                 0                 1
3       47        0  ...                 0                 1
4       33        0  ...                 0                 1
...    ...      ...  ...               ...               ...
45206   51        0  ...                 0                 1
45207   71        0  ...                 0                 1
45208   72        0  ...                 1                 0
45209   57        0  ...                 0                 1
45210   37        0  ...                 0                 0

[45211 rows x 49 columns]

## Data Preparation

In [ ]:
X = bank_data.drop(columns='y')
X

       age  default  ...  poutcome_success  poutcome_unknown
0       58        0  ...                 0                 1
1       44        0  ...                 0                 1
2       33        0  ...                 0                 1
3       47        0  ...                 0                 1
4       33        0  ...                 0                 1
...    ...      ...  ...               ...               ...
45206   51        0  ...                 0                 1
45207   71        0  ...                 0                 1
45208   72        0  ...                 1                 0
45209   57        0  ...                 0                 1
45210   37        0  ...                 0                 0

[45211 rows x 48 columns]

In [ ]:
y_data = bank_data.loc[:,'y']
y_data

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [ ]:
y_data.unique()

array([0, 1])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y_data,test_size=0.2)
X_train, X_test, y_train, y_test

(       age  default  ...  poutcome_success  poutcome_unknown
 37844   23        0  ...                 0                 0
 22042   33        0  ...                 0                 1
 14468   51        0  ...                 0                 1
 13998   32        0  ...                 0                 1
 575     61        0  ...                 0                 1
 ...    ...      ...  ...               ...               ...
 40003   56        0  ...                 0                 1
 37078   28        0  ...                 0                 1
 18441   43        1  ...                 0                 1
 34433   24        0  ...                 0                 1
 44634   77        0  ...                 0                 0

 [36168 rows x 48 columns],
        age  default  ...  poutcome_success  poutcome_unknown
 43544   45        0  ...                 0                 0
 39401   58        0  ...                 1                 0
 31538   35        0  ...                 0                 1
 12567   37        0  ...                 0                 1
 28900   49        0  ...                 0                 0
 ...    ...      ...  ...               ...               ...
 22822   38        0  ...                 0                 1
 5958    33        0  ...                 0                 1
 20830   35        0  ...                 0                 1
 36860   39        0  ...                 0                 1
 31699   38        0  ...                 0                 1

 [9043 rows x 48 columns],
 37844    0
 22042    0
 14468    0
 13998    0
 575      0
         ..
 40003    0
 37078    0
 18441    0
 34433    0
 44634    0
 Name: y, Length: 36168, dtype: int64,
 43544    1
 39401    0
 31538    0
 12567    0
 28900    0
         ..
 22822    0
 5958     0
 20830    0
 36860    0
 31699    0
 Name: y, Length: 9043, dtype: int64)

## Model Builing and Model Training

In [ ]:
logistic_model = LogisticRegression()

In [ ]:
logistic_model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

## Model Testing

In [ ]:
# for train data
y_pred = logistic_model.predict(X_train)

# for test data
y_pred_test = logistic_model.predict(X_test)

## Confusion_Matrix :- To know the Misclassification done by the model

In [ ]:
# for train data
confusion_matrix(y_train,y_pred)

array([[31275,   627],
       [ 3339,   927]])

In [ ]:
# for test data
confusion_matrix(y_test,y_pred_test)

array([[7870,  150],
       [ 784,  239]])

### The model accuracy is calculated by (a+d)/(a+b+c+d)

In [ ]:
# for train data
print((31340+868)/(31340+590+3370+868))
print(accuracy_score(y_train,y_pred))

0.8905109489051095
0.8903450564034505

In [ ]:
# for test data
print(accuracy_score(y_test,y_pred_test))

0.8967156916952339

In [ ]:
# for train data
print(classification_report(y_train,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     31902
           1       0.60      0.22      0.32      4266

    accuracy                           0.89     36168
   macro avg       0.75      0.60      0.63     36168
weighted avg       0.87      0.89      0.87     36168

In [ ]:
# for test data
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.91      0.98      0.94      8020
           1       0.61      0.23      0.34      1023

    accuracy                           0.90      9043
   macro avg       0.76      0.61      0.64      9043
weighted avg       0.88      0.90      0.88      9043

## The model is having 89% accuracy for the train data and having 89.3% accuracy for the Test data. So the model is stable.

## Model Deployment

In [ ]:
from pickle import dump,load

In [ ]:
dump(logistic_model, open('logistic_model.pkl','wb'))

In [ ]:
logistic_model= load(open('/content/logistic_model.pkl','rb'))

In [ ]:
logistic_model.predict(X_test)

array([1, 0, 0, ..., 0, 0, 0])